.toolbar-white {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

.sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 480px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
