<div
  id="map"
  [class.map--adding]="addingLocation"
  [class.map--hike-planning]="hikePlanningActive"
></div>

<app-map-reachability
  #reachability
  [mapUuid]="currentMapUuid"
  (hikingRangesCleared)="onHikingRangesCleared()"
></app-map-reachability>
<app-hike-planning
  #hikePlanning
  [mapUuid]="currentMapUuid"
  [hikePlanningActive]="hikePlanningActive"
  (hikePlanningActiveChange)="onHikePlanningActiveChange($event)"
  (elevationProfile)="activeElevationProfile.set($event)"
></app-hike-planning>
<app-elevation-profile
  [profileData]="activeElevationProfile()"
  (closed)="activeElevationProfile.set(null)"
></app-elevation-profile>
<app-map-saved-locations
  #savedLocations
  [mapUuid]="currentMapUuid"
  [addingLocation]="addingLocation"
  (addingLocationChange)="onAddingLocationChange($event)"
  (locationRangesRequested)="onLocationRangesRequested($event)"
></app-map-saved-locations>

<app-map-controls
  [addingLocation]="addingLocation"
  [hikePlanningActive]="hikePlanningActive"
  [hasHikingRanges]="reachability.hasHikingRanges()"
  [hikeRouteLayer]="hikePlanning.hikeRouteLayer"
  [editingRouteId]="hikePlanning.editingRouteId"
  [hikeLoading]="hikePlanning.hikeLoading"
  (addLocationToggle)="onAddLocationToggle()"
  (hikePlanningToggle)="onHikePlanningToggle()"
  (clearHikingRanges)="reachability.clearHikingRanges()"
  (clearHikeRoute)="hikePlanning.clearHikeRoute()"
  (saveHikeRoute)="hikePlanning.saveHikeRoute()"
  (updateHikeRoute)="hikePlanning.updateHikeRoute()"
></app-map-controls>
