<div
  id="map"
  [class.map--adding]="savedLocations.addingLocation"
  [class.map--hike-planning]="hikePlanning.hikePlanningActive"
></div>

<app-map-reachability
  #reachability
  (hikingRangesCleared)="onHikingRangesCleared()"
></app-map-reachability>
<app-hike-planning #hikePlanning [mapUuid]="currentMapUuid"></app-hike-planning>
<app-map-saved-locations
  #savedLocations
  [mapUuid]="currentMapUuid"
  (locationRangesRequested)="onLocationRangesRequested($event)"
></app-map-saved-locations>

<app-map-controls
  [addingLocation]="savedLocations.addingLocation"
  [hikePlanningActive]="hikePlanning.hikePlanningActive"
  [hasHikingRanges]="reachability.hasHikingRanges"
  [hikeRouteLayer]="hikePlanning.hikeRouteLayer"
  [editingRouteId]="hikePlanning.editingRouteId"
  [hikeLoading]="hikePlanning.hikeLoading"
  (addLocationToggle)="savedLocations.toggleAddLocation()"
  (hikePlanningToggle)="hikePlanning.toggleHikePlanning()"
  (clearHikingRanges)="reachability.clearHikingRanges()"
  (clearHikeRoute)="hikePlanning.clearHikeRoute()"
  (saveHikeRoute)="hikePlanning.saveHikeRoute()"
  (updateHikeRoute)="hikePlanning.updateHikeRoute()"
></app-map-controls>
