<div
  id="map"
  [class.map--adding]="addingLocation"
  [class.map--hike-planning]="hikePlanningActive"
></div>
@if (reachabilityLoading) {
  <div class="map-loading-overlay">
    <span class="map-loading-overlay__text">{{ reachabilityLoadingText }}</span>
  </div>
}
@if (isochroneLoading) {
  <div class="map-loading-overlay">
    <span class="map-loading-overlay__text">Loading hike isochrones&hellip;</span>
  </div>
}
@if (hikeLoading) {
  <div class="map-loading-overlay">
    <span class="map-loading-overlay__text">Loading hike route&hellip;</span>
  </div>
}

<div class="map-selector">
  <button mat-raised-button [matMenuTriggerFor]="mapsMenu" class="map-selector__trigger">
    <span class="map-selector__name">{{ currentMapName }}</span>
    <span class="map-selector__arrow">&#9662;</span>
  </button>
  <mat-menu #mapsMenu="matMenu" class="maps-menu">
    <div class="maps-menu__header" (click)="$event.stopPropagation()">
      @if (!editingMapName) {
        <span class="maps-menu__title">{{ currentMapName }}</span>
        <button class="maps-menu__rename-btn" (click)="startEditMapName()">Rename</button>
      } @else {
        <input
          class="maps-menu__rename-input"
          [(ngModel)]="mapNameInput"
          (keydown.enter)="saveMapName()"
          (keydown.escape)="cancelEditMapName()"
          (click)="$event.stopPropagation()"
          autofocus
        />
        <button class="maps-menu__rename-btn maps-menu__rename-btn--save" (click)="saveMapName()">
          Save
        </button>
      }
    </div>
    <div class="maps-menu__divider"></div>
    @for (map of myMaps(); track map.uuid) {
      <button
        mat-menu-item
        (click)="switchToMap(map.uuid)"
        [class.maps-menu__item--active]="map.uuid === currentMapUuid"
      >
        {{ map.name }}
      </button>
    }
    <div class="maps-menu__divider"></div>
    <button mat-menu-item (click)="createNewMap()">+ New map</button>
    <button mat-menu-item (click)="copyShareLink()">&#128279; Copy share link</button>
  </mat-menu>
</div>

<div class="map-controls">
  <button
    mat-raised-button
    [color]="addingLocation ? 'warn' : 'primary'"
    (click)="toggleAddLocation()"
  >
    {{ addingLocation ? 'Cancel' : '+ Add location' }}
  </button>
  <button
    mat-raised-button
    [color]="hikePlanningActive ? 'warn' : 'primary'"
    (click)="toggleHikePlanning()"
  >
    {{ hikePlanningActive ? 'Stop planning' : 'Plan hike' }}
  </button>
  @if (hikePlanningActive) {
    <button mat-raised-button (click)="clearHikeRoute()">Clear route</button>
  }
  @if (hikePlanningActive && hikeRouteLayer && !editingRouteId) {
    <button mat-raised-button color="accent" [disabled]="hikeLoading" (click)="saveHikeRoute()">
      Save route
    </button>
  }
  @if (hikePlanningActive && hikeRouteLayer && editingRouteId) {
    <button mat-raised-button color="accent" [disabled]="hikeLoading" (click)="updateHikeRoute()">
      Update route
    </button>
  }
</div>
