<button mat-button [matMenuTriggerFor]="mapsMenu" class="map-selector__trigger">
  <span class="map-selector__name">{{ currentMapName() }}</span>
  <span class="map-selector__arrow">&#9662;</span>
</button>

<mat-menu #mapsMenu="matMenu" class="maps-menu">
  <div class="maps-menu__header" (click)="$event.stopPropagation()">
    @if (!editingMapName) {
      <span class="maps-menu__title">{{ currentMapName() }}</span>
      <button class="maps-menu__action-btn" (click)="startEditMapName()">Rename</button>
    } @else {
      <input
        class="maps-menu__rename-input"
        [(ngModel)]="mapNameInput"
        (keydown.enter)="saveMapName()"
        (keydown.escape)="cancelEditMapName()"
        (click)="$event.stopPropagation()"
        autofocus
      />
      <button class="maps-menu__action-btn maps-menu__action-btn--save" (click)="saveMapName()">
        Save
      </button>
    }
  </div>
  <div class="maps-menu__divider"></div>
  @for (map of myMaps(); track map.uuid) {
    <button
      mat-menu-item
      (click)="switchToMap(map.uuid)"
      [class.maps-menu__item--active]="map.uuid === currentMapUuid()"
    >
      {{ map.name }}
    </button>
  }
  <div class="maps-menu__divider"></div>
  @if (!creatingNewMap) {
    <button mat-menu-item (click)="startCreatingNewMap(); $event.stopPropagation()">
      + New map
    </button>
  } @else {
    <div class="maps-menu__new-map" (click)="$event.stopPropagation()">
      <input
        class="maps-menu__rename-input"
        [(ngModel)]="newMapNameInput"
        placeholder="Map name"
        (keydown.enter)="confirmCreateNewMap()"
        (keydown.escape)="cancelCreatingNewMap()"
        autofocus
      />
      <button
        class="maps-menu__action-btn maps-menu__action-btn--save"
        (click)="confirmCreateNewMap()"
      >
        Create
      </button>
    </div>
  }
  <button mat-menu-item (click)="copyShareLink()">&#128279; Copy share link</button>
</mat-menu>
