<div class="map-selector">
  <mat-form-field class="map-selector__field" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Map</mat-label>
    <mat-select
      [ngModel]="currentMapUuid()"
      (ngModelChange)="switchToMap($event)"
      (keydown)="$event.stopPropagation()"
    >
      @for (map of myMaps(); track map.uuid) {
        <mat-option [value]="map.uuid">{{ map.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button
    mat-icon-button
    [matMenuTriggerFor]="mapsMenu"
    class="map-selector__actions"
    type="button"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #mapsMenu="matMenu" class="maps-actions-menu">
    <button mat-menu-item (click)="openNewMapDialog()">
      <mat-icon>add</mat-icon>
      <span>New map</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog()">
      <mat-icon>edit</mat-icon>
      <span>Rename map</span>
    </button>
    <button mat-menu-item (click)="copyShareLink()">
      <mat-icon>link</mat-icon>
      <span>Copy share link</span>
    </button>
  </mat-menu>
</div>
